<!--NOTE:
The @article object is available to any partials rendered in the view because we defined it as an instance variable.-->

<h1><%= @article.title %></h1>
<p><%= @article.body %></p>
<ul>
  <li><%= link_to "Edit", edit_article_path(@article) %></li> <!--edit_article_path(@article) == edit_article_path-->
  <li><%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?"} %></li>
</ul>

<h2>Comments</h2>
<!--This will now render the partial view in app/views/comments/_comment.html.erb once for each comment that is in the @article.comments collection. 
As the render method iterates over the @article.comments collection, it assigns each comment to a local variable named the same as the partial view,
in this case > comment, which is then available in the partial view for us to show.-->
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<h3><%= link_to "Main Page", articles_path %></h3>
