<!--This file contains a partial view for other routes-->
<nav>
  <a href="#basecapm"><h1>Basecamp</h1></a>
  <ul>
    <li><%= link_to 'How it works', how_it_works_path %></li>
    <li><%= link_to 'Before & after', before_and_after_path %></li>
    <li><%= link_to 'Got clients?', features_clients_path %></li>
    <li><%= link_to 'Pricing', pricing_path %></li>
    <li><%= link_to 'Support', support_path %></li>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
    <li><%= link_to 'Try it free', new_user_registration_path %></li>
  </ul>
</nav>
